.h01-testimonial-section {
  background-color: #f4f7fe;
  padding: 130px 0;

  .h01-testimonial-header {
    &-title {
      max-width: 856px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 28px;
    }

    &-text {
      color: #121212;
      margin-top: 28px;
      text-align: center;
      max-width: 751px;
      margin: 0 auto;
      margin-bottom: 80px;
    }
  }

  .h01-testimonial-section-card {
    max-width: 416px;
    flex-shrink: 0;
    border-radius: 10px;
  }

  .h01-testimonial-viewAll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
}

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
