.home6_service_section {
  background-color: #fff;
  padding: 130px 0;

  .home6_service_section-title {
    color: #121212;
    text-align: center;
  }

  .home6_service_section-cards {
    margin-top: 80px;

    .home6_service_section-card {
      width: 306px;
      height: 355px;
      flex-shrink: 0;
      border-radius: 10px;
      border: 1px solid #7f8995;
      background-color: #fff;
      padding: 30px;

      .home6_service_section-card-icon {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
        padding-bottom: 30px;
      }

      .home6_service_section_card-title {
        color: #121212;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 15px;
      }

      .home6_service_section_card-text {
        color: #414141;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 30px;
      }

      .home6_service_section-card-link {
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: #121212;
      }
    }

    .active-card {
      .home6_service_section_card-title {
        color: #fff;
      }

      .home6_service_section_card-text {
        color: #fff;
      }

      .home6_service_section-card-link {
        color: #fff;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) {
  .home6_service_section-title {
    font-size: 45px;
    line-height: 45px;
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
  .home6_service_section-title {
    font-size: 60px;
    line-height: 60px;
  }
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
  .home6_service_section-title {
    font-size: 80px;
    line-height: 80px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
